/* Анимации сердца */

/* Ховер на сердечко */
.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s 0.05s linear;
}

/* Активное состояние сердечка */
.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

/* Лайкнутое состояние */
.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

/* Анимация масштабирования при лайке */
.like-icon.is-liked .heart {
  animation: scale-animation 0.3s 0.1s ease-in 1 alternate;
}

/* Анимация искр */
.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s 0.3s ease-in 1 alternate;
}

/* Анимация стрелки в теме */
.theme-menu__button:disabled::before {
  animation: arrow-animation 0.5s ease-in-out infinite alternate;
}

/* Кейфреймы */
@keyframes scale-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow-animation {
  from {
    left: -20px;
  }
  to {
    left: -16px;
  }
}

/* Обратное перекрашивание контура */
.like-icon .contour {
  transition: fill 0.1s linear;
}