/* Основные переменные */

:root {
  --main-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
  --contour-color: var(--text-color);
  --animation-fill-color: var(--heart-color);
}
